<p style="color: green"><%= notice %></p>

<h1>Videos</h1>

<div class="accordion" id="accordionPanelsStayOpenExample">
  <% Video.years.each do |year| %>
    <%= render 'videos/accordion-section', year: year %>
  <% end %>
</div>

<%= link_to "New video", new_video_path %>
